body
{
    margin: 0 auto;
    margin-top: 10px;
    font-size: 17px;
}

#name{margin-top: 10px; margin-bottom: 10px}

.header
{
    height: 230px;
    align-content: center;
    font-size: inherit;
    border: thick;
    margin-bottom: 10px;
    margin-top: 100px;
}

.story
{
    height: 60%;
    border: thick;
    margin-top: 10px;
}

#position{ color: crimson; }

.story-contaner
{
    border-style: solid;
    border: thick ;
    margin-bottom: 50px;
    border-width: 10px;
}
.story-body
{
    font-style: italic;
    font-size: inherit;
}
.stroy-head{color: mediumslateblue; font-size: 30px; align-content: flex-end; font-weight: bolder}

.list-group-item-heading{font-style: normal; font-weight: bold}


.s_img
{
    max-width: 40px;
    max-height: 40px;
    opacity: 0.3;
    margin: 2%;
}
.s_img:hover
{
    opacity: 1.0;
    max-width: 40px;
    max-height: 40px;
    margin: 2%;
}

li.list-group-item{ margin: 10px; border: none; }
li.list-group-item-heading{color: #2b669a}
button.col-md-6:hover{text-decoration: underline}
img.img-circle{ box-shadow: rgba(0,0,0,0.117647) 0px 1px 6px,rgba(0,0,0,0.117647) 0px 1px 4px}



.horizontal-line-text {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	margin: 8px 0px;
}
.horizontal-line-text::before,
.horizontal-line-text::after 
{
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}

.sidenav 
{
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    padding-top: 12%;
    padding-bottom: 12%;
    overflow-x: hidden;
    margin: 0 auto;
  }
  
  .sidenav a 
  {
    padding: 6px 6px 6px 32px;
    font-size: inherit;
    color:#2b669a;
    display: block;
  }
  
  .sidenav  a:hover a:active 
  {
    text-decoration: underline;
    background-color: #2b669a
  }
  
  .main 
  {
    margin-right: 50px; /* Same as the width of the sidenav */
  }

  .rotate 
  {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  
    /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  
    /* Should be unset in IE9+ I think. */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }